*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff54;
}

:root{
    --cor1: #1C1E21;
    --cor2: #1877F2;
    --cor3: #4bf218dc;
    --cor4: white;
}

main{
    text-align: center;
}

section{
    display: inline-flex;
    margin: auto;
}

article{
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.bloco-1 > h1{
     color: var(--cor2);
     font-size: 60px;
}

.bloco-1 > p{
    width: 350px;
    margin: auto;
    font-size: 28px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.bloco-2{
    width: 350px;
    border-radius: 10px;
    background-color: var(--cor4);
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.164);

}

.bloco-3{
    margin-top: 150px;
}

.bloco-2 >  a p{
    color: var(--cor2);
    padding: 10px;
    text-decoration: none;
}

.bloco-2 > a:hover{
    text-decoration: underline;
}

input{
    width: 280px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.219);
    border: 0px;
    font-size: 20px;
}

.search{
     border: 2px solid rgba(0, 0, 0, 0.219);
}

.search:focus{
    outline: 0;
    border-color: #1877F2;
}

.buton-1{
    width: 310px;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    color: var(--cor4);
    background-color: var(--cor2);
    font-weight: bolder;
}

.buton-1:hover{
    background-color: #155fc0;
}

.esqueseu{
    text-decoration: none;
}
.esqueseu:hover{
    text-decoration: underline;
    color: #1877F2;
}

.buton-2{
    width: 200px;
    font-size: 20px;
    padding: 13px;
    border-radius: 5px;
    border: 0px;
    background-color: var(--cor3);
    color: var(--cor4);
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.buton-2:hover{
    background-color: rgb(0, 189, 16);
}

aside{
    width: 350px;
    margin: auto;
}

.pagina{
    padding: 10px;
}

.pagina a{
    font-weight: bold;
    color: var(--cor1);
    cursor: pointer;
}

.pagina a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

@media(max-width: 800px) {
    section{
        display: block;
    }

    .bloco-3{
        margin-top: 0px;
    }
}
