*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #0084ff;
    --cor2: #ffffff;
    --cor3: #ffffff31;
    --cor4: #000000;
    --cor5: rgba(0, 0, 0, 0.055);
    --cor6: rgba(0, 0, 0, 0.315);
}

section{
    display: flex;
    padding-top: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
}

nav{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.575);
}

nav div{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--cor5);
}

i{
    padding-top: 3px;
}

.pequisa-f{
   
}

.esquedo{
    width: 80%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fac-icoo{
    padding-left: 5px;
    font-size: 50px;
    color: var(--cor1);
}

.lup-icoo{
    margin-top: 0px;
}

.centro{
    width: 100%;
    text-align: center;
    
}

.cet-ico{
    font-size: 30px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    border-radius: 4px 4px 0px 0px;
}

.cet-ico i{
    margin: auto;
}

.direito{
    width: 100%;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mais-icoo{
    display: none;
}


@media(max-width: 770px ){
    .centro{
        display: none;
    }

    .some-icoo{
        display: none;
    }

    .mais-icoo{
        display: inline-block;
    }
}

@media(max-width: 1000px){
    .pequisa-f{
        display: none;
    }
}