*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #0084ff;
    --cor2: #ffffff;
    --cor3: #ffffff5e;
    --cor4: #000000;
    --cor5: rgba(0, 0, 0, 0.055);
    --cor6: rgba(0, 0, 0, 0.315);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: var(--cor2);
    text-decoration: none;
}

.naver-bar{
    display: flex;
    padding-top: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.171);
    position: relative;
}

nav{
    margin-left: 5px;
    margin-right: 5px;
    position: sticky;
}

nav div{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--cor5);
}

i{
    padding-top: 3px;
}

.esquedo{
    width: 40%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.esquedo input{
    width: 200px;
    padding: 10px;
    border: 0px;
    border-radius: 15px;
    background-color: var(--cor5);
}

.esquedo input:focus{
    outline: 0;
    border: 0px;
}

.fac-icoo{
    padding-left: 5px;
    font-size: 50px;
    color: var(--cor1);
}

.lup-icoo{
   display: none;
}

.centro{
    width: 100%;
    text-align: center; 
}

.cet-ico{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin: auto;
    border-radius: 4px 4px 0px 0px;
    background-color: var(--cor2);
}

.cet-ico:hover{
    background-color: var(--cor5);
}

.cet-icoo-click:visited{
    color: var(--cor1);
}

.direito{
    width: 80%;
    text-align: right;
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.direito div:hover{
    background-color: var(--cor6);
}

.mais-icoo{
    display: none;
}

main{
    background-color: var(--cor4);
    position: relative;
    height: 100%;
}

.conteiner{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 10%;
    left: 0;
}

section{
    background-color: #ffee00;
    display: inline-block;
    width: 20vw;
    height: 100%;
    margin-left: 30px;
}

.coluna-001{
    position: absolute;
    top: 20;
    left: -1%;
}

.coluna1-fusoes{
    display: inline-flex;
    width: 88%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.coluna1-fusoes:hover{
    background-color: var(--cor6);
}

.coluna1-fusoes div{
    width: 45px;
    height: 45px;
    border-radius: 50%;
   
}

.coluna1-fusoes > div > i{
    padding: 5px;
    font-size: 27px;
    color: var(--cor1);
}

.coluna1-fusoes span{
    padding: 10px 5px 0px 5px;
}

.coluna-esquedo-1{
    height: 90vh;
    overflow-y: scroll;
}

.coluna-002{
    height: 100%;
    width: 46vw;
    margin-left: 27%;
    overflow-y: scroll;
}

.coluna-003{
    height: 70%;
    position: absolute;
    top: 20;
    left: 75%;
}

.coluna3-contato{
    display: inline-flex;
    width: 39vw;
    padding: 10px;
    border: 1px solid black;
}

.coluna3-contato div{
    display: inline-flex;
    width: 20%;
    text-align: right;
}

.co003-icoo{
    padding-left: 8%;
}

.coluna3-contato p{
    width: 30px;
    font-size: 17px;
}


@media(max-width: 770px ){
    .centro{
        display: none;
    }

    .some-icoo{
        display: none;
    }

    .mais-icoo{
        display: inline-block;
    }

    .coluna-002{
        width: 98vw;
        margin-top: 4%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media(max-width: 1000px){
    .pequisa-f{
        display: none;
    }

    .lup-icoo{
        display: inline-block;
     }

    .coluna-001{
        display: none;
    } 
    .coluna-003{
        display: none;
    }
}