*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #0084ff;
    --cor2: #ffffff;
    --cor3: #ffffffa0;
    --cor4: #000000;
    --cor5: rgba(0, 0, 0, 0.055);
    --cor6: rgba(0, 0, 0, 0.315);
    --cor7: #f7f7f7;

    --icoo1: rgb(236, 0, 0);
    --icoo2: rgb(72, 255, 0);
    --icoo3: rgb(255, 166, 0);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor3);
}

a{
    color: var(--cor4);
    text-decoration: none;
}

.img-perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.img-postagem{
    width: 100%;
}

.direito{
    width: 50%;
    text-align: right;
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.direito div:hover{
    background-color: var(--cor6);
}

.mais-icoo{
    display: none;
}

main{
    background-color: var(--cor4);
    position: relative;
    height: 100%;
}

.conteiner{
    width: 100%;
    height: 80vh;
    position: fixed;
    top: 10%;
    left: 0;
}

section{
    background-color: var(--cor2);
    display: inline-block;
    width: 20vw;
    height: 100%;
    margin-left: 30px;
}

.coluna-esquedo-1{
    height: 70vh;
    overflow-y: hidden;
}

.coluna-esquedo-1:hover{
    overflow: auto;
}

.coluna-001{
    position: absolute;
    height: 70vh;
    top: 20;
    left: -1%;
}

.coluna1-fusoes{
    display: inline-flex;
    width: 88%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 15px;
}

.coluna1-fusoes:hover{
    background-color: var(--cor6);
}

.coluna1-fusoes div{
    width: 45px;
    height: 45px;
    border-radius: 50%; 
}

.coluna1-fusoes > div > i{
    padding: 5px;
    font-size: 20px;
    color: var(--cor1);
}

.coluna1-fusoes span{
    padding: 7px 5px 0px 0px;
}

.coluna-002{
    height: 100%;
    width: 46vw;
    margin-left: 27%;
    padding-bottom: 30%;
    overflow: hidden;
}

.coluna-002:hover{
    overflow-y: scroll;
}

.conteine-story{
    display: flex;
    padding: 5px;
    overflow-x: hidden;
}

.conteine-story:hover{
    overflow-x: scroll;
}

.p-story{
    width: 130px;
    height: 200px;
    background-color: var(--cor7);
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.445);
}

.p-story div{
    width: 130px;
    height: 140px;
    border-radius: 10px 10px 0px 0px;
    background: black url(../img-p/06-m.jpg)
    center no-repeat;
    background-size: cover;
}

.p-story i{
    border: 4px solid var(--cor7);
    padding: 12px;
    border-radius: 50%;
    background-color: var(--cor1);
    color: var(--cor2);
    margin: -14px 0px 0px 0px;
}

.story{
    width: 130px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.597) url(../img-p/01-f.jpg)
    center no-repeat;
    background-size: cover;
    text-align: center;
}

.story-1{
    width: 130px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.597) url(../img-p/img-story/7.jpg)
    center no-repeat;
    background-size: cover;
    text-align: center;
}

.story-2{
    width: 130px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.597) url(../img-p/img-story/6.jpg)
    center no-repeat;
    background-size: cover;
    text-align: center;
}

.story-3{
    width: 130px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 10px;
    background: rgba(0, 0, 0, 0.597) url(../img-p/img-story/11.jpg)
    center no-repeat;
    background-size: cover;
    text-align: center;
}

.story-aside{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--cor1);
    margin: 10px 2px 2px 10px;
}

.story-p{
    color: var(--cor2);
    padding-left: 40px;
    padding-right: 30px;
    margin: 119px 2px 2px 3px;
}

.conteiner-fusoes-002{
    margin: 15px 20px 15px 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--cor7);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.415);
}

.icoo-001{
    color: var(--icoo1);
}

.icoo-002{
    color: var(--icoo2);
}

.icoo-003{
    color: var(--icoo3);
}

.conteiner-fusoes-002 aside{
    display: flex;
    padding: 10px;
    padding-left: 30px;
}

.con-fus002-inpu{
    width: 450px;
    font-size: 18px;
    margin-top: 5px;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    background-color: var(--cor5);
}

.con-fus002-inpu:hover{
    background-color: var(--cor6);
}

.conteiner-fusoes-002 article{
    display: flex;
    padding: 10px;
}

.conteiner-fusoes-002 a{
    display: flex;
    margin: auto;
    margin: 0px;
}

.conteiner-fusoes-002 i{
    font-size: 28px;
}

.conteiner-fusoes-002 p{
    margin-top: 10px;
    padding-left: 7px;
}

.conteiner-postagem-002{
    background-color: var(--cor7);
    border-radius: 10px;
    margin: 25px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.444);
}

.postagem-perfil-002{
    display: flex;
    padding: 10px;
    margin: 10px 15px;
}

.postagem-perfil-002 .img-perfil{
    width: 100px;
    height: 44px;
    border-radius: 50%;
    border: 4px solid var(--cor1);
}

 aside img{
    width: 200px;
    margin-right: 20px;
}

.postagem-perfil-002 h1{
    width: 100%;
    margin-top: 7px;
    padding-left: 10px;
}

.postagem-perfil-002 i{
    width: 100%;
    font-size: 23px;
    margin-top: 7px;
    text-align: right;
}

.postagem-custida-002{
    display: flex;
    padding-top: 7px;
    padding: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
}

.pos-custida000{
    width: 30px;
    height: 17px;
    border-radius: 50%;
    padding: 5px;
    color: var(--cor2);
    background-color: var(--cor1);
}

.pos-custida000 i{
    margin-top: -3px;
}

.pos-custida001{
    width: 100%;
    padding: 5px;
}

.pos-custida002{
    width: 100%;
    text-align: right;
    padding: 5px;
}

.linha001{
    display: inline-block;
    width: 93%;
    margin-left: 20px;
    background-color: var(--cor6);
    border: 1px solid var(--cor6);
}

.conteiner-input-curtiu-002{
    display: inline-flex;
    width: 100%;
    text-align: center;
}

.cont-bloco1{
    margin: auto;
}

.inp-cor{
    display: none;
}

.inp-cor:checked + .postagem-curtiu-002{
    color: #0084ff;
}
label{
    display: inline-flex;
    margin-left: 20px;
    margin: auto;
}

label i{
    font-size: 25px;
}

label p{
    padding-top: 7px;
    padding-left: 10px;
}

.pos-comentario{
    display: inline-flex;
    margin: auto;
}

.pos-comentario i{
    font-size: 25px;
    padding-right: 10px;
}

.pos-comentario p{
    padding-top: 7px;
}

.coluna-003{
    width: 21vw;
    height: 70%;
    position: absolute;
    top: 20;
    left: 75%;
    overflow-y: hidden;
}

.coluna-003:hover{
    overflow-y: auto;
}

.coluna3-contato{
    display: inline-flex;
    width: 18vw;
    padding: 10px;
}

.coluna3-contato div{
    display: inline-flex;
    width: 100%;
    text-align: right;
}

.coluna3-contato span{
    display: inline-flex;
    width: 100%;
    text-align: right;
}

.co003-icoo{
    padding-left: 8%;
}

.coluna3-contato a{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 17px;
}

.coluna3-contato a:hover{
    background-color: var(--cor6);
}

.coluna3-contato p{
    padding: 4px 7px 0px 0px;
}

.co3-cperfil{
    display: inline-flex;
    width: 17vw;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.co3-cperfil:hover{
    background-color: var(--cor6);
}

.co3-cperfil > p{
    margin: 13px 0px 0px 15px;
}


@media(max-width: 816px ){

    .coluna-002{
        width: 98vw;
        margin-top: 4%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .con-fus002-inpu {
        width: 170px;
        font-size: 2.5vw;
    }

    .linha001{
        display: inline-block;
        width: 87%;
    }

}

@media(max-width: 1000px){


    .coluna-001{
        display: none;
    } 
    .coluna-003{
        display: none;
    }

    .con-fus-a-some{
        display: none;
    }
}